<!DOCTYPE html>

<html>
  <head>
    <title> Coolgle: Something Went Wrong </title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="dark:bg-slate-800">
    <h1 
    class="text-7xl text-sky-400/75 flex items-center justify-center mt-52"
    >
      coolgle
    </h1>
    <p class="text-white flex items-center justify-center"> 
      The cooler Google.
    </p>    

    <br>
    <br>

    <p class="text-white flex items-center justify-center"> Huh? </p>

    <br>

    <p class="text-white flex items-center justify-center"> <%= error %> </p>
  </body>
</html>